<header>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <button (click)="logout()" class="btn btn-danger">LogOut</button>
        </div>
    </div>
</header>
<div class="outer">
    <div class="container">
        <div class="card-group">
            <ng-container *ngIf="role==='Admin'">
                <div class="card">
                    <div class="card-body text-center" >
                        <h2 class="card-title">Car Package</h2>
                    </div>
                    <div class="card-footer text-center">
                        <a href="packages"class="text-muted">Get Started</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title">Car Details</h2>
                        
                            <i class="fa-duotone fa-car"></i>
                        
                    </div>
                    <div class="card-footer text-center">
                        <a href="car"  class="text-muted">Get Started</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title">User Details</h2>
                        
                    </div>
                    <div class="card-footer text-center">
                        <a class="text-muted">Get Started</a>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="role==='Customer'||role==='customer'">

                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">User Details</h5>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Get Started</small>
                    </div>
                </div>
            </ng-container>


        </div>

    </div>
</div>





























<!-- <header>
<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <button (click)="logout()" class="btn btn-danger">LogOut</button>
    </div>
</div>
</header>
    <div class="outer">
        <div class="container">
            <div class="row">
                <ng-container *ngIf="role==='Admin'">
                <div class="offset-lf-2 col-lg-4 col-lf-7 offset-lf-4 offset-lf-3">
                    <div class="panel border bg-white">
                        <div class="panel-heading">
                            <h3 class="pt-3 font-weight-bold">CarPackage</h3>
                        </div>
                    </div>
                </div>
                <div class="offset-lf-2 col-lg-4 col-lf-7 offset-lf-4 offset-lf-3">
                    <div class="panel border bg-white">
                        <div class="panel-heading">
                            <h3 class="pt-3 font-weight-bold">CarDetails</h3>
                        </div>
                    </div>
                </div>
                <div class="offset-lf-2 col-lg-4 col-lf-7 offset-lf-4 offset-lf-5">
                    <div class="panel border bg-white">
                        <div class="panel-heading">
                            <h3 class="pt-3 font-weight-bold">User Details</h3>
                        </div>
                    </div>
                    </div>

            </ng-container>

            <ng-container *ngIf="role==='Customer'||role==='customer'">
                <div class="offset-lf-2 col-lg-4 col-lf-7 offset-lf-4 offset-lf-3">
                    <div class="panel border bg-white">
                        <div class="panel-heading">
                            <h3 class="pt-3 font-weight-bold">CarDetails</h3>
                        </div>
                    </div>
                    
                </div>
                
            </ng-container>
            
                </div>
               
            </div>
            
        </div>
        
        
     -->
