.banner {
    background-image: url 'assets\Images\login.jpg'; 
    height: 800px;
    background-position: center top;
    background-size: cover;
}

.content {
    top: 30%;
    left: 20%;
    position: absolute;
    font-size: 200%;
}

.content h1 {
    color: blue;
    font-size: 50px;
    font-weight: bold;
}