<html>
    <body>
        <h2>CAR DETAILS</h2>
    </body>
    <ul>
        <li>Mahindra Thar
            Active </li>
            <li>Toyota 
                Active</li>
                <li>Maruthi Brezza 
                    Active</li> 
                    <li>Hyundai Creta 
                    </li>
                    <li>Van
                        Active</li>
                         <li>Truck
                            Active</li>
                        </ul>
</html>

<button (click)="logout()" class="btn btn-danger">LogOut</button>
